URxvt*internalBorder: 25
URxvt*scrollBar: false


! FONTS
!URxvt*font: xft:gohufont:size=10
!URxvt*font: xft:Anonymous Pro:size=10
URxvt*font: xft:cherry:size=11
!*font         : -misc-fixed-medium-r-semicondensed-*-13-*-*-*-*-*-iso10646-1

Xft.autohint:	0
Xft.lcdfilter:	lcddefault
Xft.hintstyle:	hintslight
Xft.hinting:	1
Xft.antialias:	1
xft.rgba:	rgb



! special
*.foreground:   #c0b18b
*.background:   #1f1f1f
*.cursorColor:  #c0b18b

! black
*.color0:       #4a3637
*.color8:       #402e2e

! red
*.color1:       #d17b49
*.color9:       #ac5d2f

! green
*.color2:       #7b8748
*.color10:      #647035

! yellow
*.color3:       #af865a
*.color11:      #8f6840

! blue
*.color4:       #535c5c
*.color12:      #444b4b

! magenta
*.color5:       #775759
*.color13:      #614445

! cyan
*.color6:       #6d715e
*.color14:      #585c49

! white
*.color7:       #c0b18b
*.color15:      #978965

! xidle
! drag pointer to lower left of screen to lock
XIdle*position:	sw
XIdle*delay:	1
XIdle&timeout:	300

! xlock
XLock.dpmsoff:	1
! plain white on black lock screen
XLock.description:	off
XLock.echokeys:		off
XLock.info:
XLock.background:	black
XLock.foreground:	white
XLock.mode:		blank
XLock.username:		username:
XClock.password:	password:
XLock.font        : -misc-fixed-medium-r-normal-*-15-*-*-*-*-*-iso10646-1
XLock.planfont    : -misc-fixed-medium-r-normal-*-13-*-*-*-*-*-iso10646-1

! ===== xclock
! digital clock in lower right-hand corner
XClock*analog      : false
XClock*twentyfour  : false
XClock*padding     : 0
XClock*geometry    : -2-2
XClock*render      : false
XClock*font        : xft:cherry:size=11
XClock*height      : 12
XClock*background  : dimgray
XClock*foreground  : white
XClock*borderWidth : 0
